# Dependency directories
node_modules/
venv/
.env

# Build files
build/
dist/
*.egg-info/
*.pyc

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env.local
.env.development.local
.env.test.local

# IDE and editor files
.vscode/
.idea/
*.iml

# Other project-specific files
*.pyc
*.pyo
*.pyd
__pycache__/
.DS_Store
